// html,
// body {
//   width: 100%;
//   height: 100%;
// }

// iframe {
//   height: 65vh;
//   width: 90vw;
// }

// body {
//   background: linear-gradient(-45deg, #a6faaad2, #1ce711c5, #23a6d5, #23d5ab);
//   background-size: 400% 400%;
//   animation: gradient 15s ease infinite;
// }

// @keyframes gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

// #ghibli-logo {
//   max-height: 10rem;
//   max-width: 15rem;
// }

// .card {
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
// }

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   justify-items: center;
// }

// .nav-link {
//   font-size: 2.5rem;
//   margin: auto;
// }

// .navbar {
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
// }

// h1 {
//   text-align: center;
//   color: rgba(250, 250, 254, 0.982);
//   text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
// }

// .map-container {
//     height: 400px;
//     width: 600px;
// }

// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --primary-color: #008000;
  --secondary-color: #b3e3ff;
  --dark-color: #1c3fa8;
  --light-color: white;
  --success-color: #55a355;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 1.6;
  background-color: var(--secondary-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

h1 {
  font-family: "Space Mono", sans-serif;
}

h2.sm.text-center {
  margin: 0;
  padding-top: 4rem;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  font-size: 20px;
  color: var(--primary-color);
}

h3.text-center {
  color: var(--primary-color);
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  color: var(--primary-color);
  padding: 10px;
}

/* Custom Font*/
.mono {
  font-family: "Space Mono", sans-serif;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar .flex {
  justify-content: space-between;
}

/* Search Box */
.searchbox {
  height: 400px;
  background-color: var(--primary-color);
  color: white;
  position: relative;
}

.searchbox h1 {
  font-size: 40px;
}

.searchbox p {
  margin: 20px 0;
}

.searchbox .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
}

.searchbox-text {
  animation: slideInFromRight 1s ease-in;
}

.searchbox-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-start;
  animation: slideInFromLeft 1s ease-in;
}

.searchbox-form .form-control {
  margin: 30px 0;
}

.searchbox-form input[type="text"],
.searchbox-form input[type="email"] {
  border: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.searchbox-form input:focus {
  outline: none;
}

/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
  background-color: var(--secondary-color);
}

.stats-heading {
  max-width: 500px;
  margin: auto;
  color: var(--primary-color);
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Materials Cards */

.materials-card {
  background-color: var(--secondary-color);
}

.materials-card .flex {
  flex-wrap: wrap;
}

.materials-card .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.materials-card .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.materials-card .card:hover {
  transform: translateY(-15px);
}

/* About */
.about-head img,
.comments-head img {
  width: 200px;
  justify-self: flex-end;
}

.about-about-body img {
  width: 300px;
  justify-self: flex-end;
}

.about-main .card > i {
  margin-right: 20px;
}

.about-main .grid {
  padding: 30px;
}

/* Comments */
.comments-main h3 {
  margin: 20px 0;
}

.comments-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.comments-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

/* Footer */
.footer .social a {
  margin: 0 10px;
  position: absolute;
  background-color: var(--primary-color);
  left: 0;
  bottom: 0;
  right: 0;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .searchbox .grid,
  .stats .grid,
  .about-main .grid,
  .comments-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .searchbox {
    height: auto;
  }

  .searchbox-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .searchbox-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .about-head,
  .about-about-body,
  .comments-head {
    text-align: center;
  }

  .about-head img,
  .about-about-body img,
  .comments-head img {
    justify-self: center;
  }

  .about-main .grid > *:first-child,
  .about-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/********/

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: white;
  color: var(--dark-color);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

.btn:hover {
  transform: scale(0.98);
}

/* Backgrounds & colored buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  font-size: 13px;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: white;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: white;
}

/* Text colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

/* Comment */
.comment {
  background-color: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}

.comment i {
  margin-right: 10px;
}

.comment-success {
  color: var(--primary-color);
}

.comment-error {
  background-color: var(--error-color);
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  // align-items: center;
  // height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.mz {
  margin-bottom: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
